

<!DOCTYPE html>
<html>
    <title>Disaster Dice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3-theme-red.css">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <style>
            ::-moz-selection { /* Code for Firefox */
                color: white;
                background: red;
            }
            ::selection {
                color: white;
                background: red;
            }
        </style>
    </head>
    <body>
        <ul class="w3-navbar w3-dark-grey w3-large">
                <li><a href="/">Home</a></li>
                <li><a href="/customize">Customize</a></li>
                <li><a href="/about">About</a></li>
        </ul>
        <div class="w3-container w3-red">
            <h1>About Our Project</h1>
        </div>
        <div class="w3-card-4 w3-light-grey" style="margin:1em; padding:1em; margin-bottom:3em">
            <p>Our goal is to provide a quick and easy means of producing custom made dice. Dice are used all the time in board games and tabletop RPGs. Since we allow users to submit their own images to be etched onto the die, there are endless possibilities for adding random elements to both famous games and games you might have come up with on your own!</p>
            <p>Roll to assign chores. Roll to choose a character to play as. Roll to choose what you're drinking. The possibilities are endless.</p>
        </div>
        <div class="w3-container w3-red">
            <h2>The Team</h2>
        </div>
        <div class="w3-row-padding w3-margin-top">
            <div class="w3-third">
                <div class="w3-card-4">
                    <img src="http://i.imgur.com/Ws6xpvG.jpg" alt="Will" style="width:100%">
                    <div class="w3-container">
                        <h3>Will Ordiway</h3>
                        <p>Mechanical Engineering, Computer Science</p>
                    </div>
                </div>
            </div>
            <div class="w3-third">
                <div class="w3-card-4">
                    <img src="http://i.imgur.com/GlJu7WA.jpg" alt="Joel" style="width:100%">
                    <div class="w3-container">
                        <h3>Joel Kalos</h3>
                        <p>Computer Science</p>
                    </div>
                </div>
            </div>
            <div class="w3-third">
                <div class="w3-card-4">
                    <img src="http://i.imgur.com/ykURud6.jpg" alt="Kevin" style="width:100%">
                    <div class="w3-container">
                        <h3>Kevin Nash</h3>
                        <p>Computer Science</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="w3-container"> 
            <p>&nbsp;</p>
        </div>
        <footer class="w3-container w3-dark-grey w3-text-grey" style="text-align:center">
            <p>Created for HackCWRU 2016!</p>
        </footer>
    </body>
</html>



