
<!DOCTYPE html>
<html>
    <title>Success!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3-theme-red.css">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <style>
            ::-moz-selection { /* Code for Firefox */
                color: white;
                background: red;
            }
            ::selection {
                color: white;
                background: red;
            }
        </style>
    </head>
    <body>
        <ul class="w3-navbar w3-dark-grey w3-large">
                <li><a href="/">Home</a></li>
                <li><a href="/customize">Customize</a></li>
                <li><a href="/about">About</a></li>
        </ul>
        <div class="w3-container w3-red">
            <h1>Submission Received</h1>
        </div>
        <div class="w3-container w3-center" width=40em>
            <p>Your dice order has been submitted. A confirmation email is on the way. In the meantime...</p>
            <form action="/customize">
                <input class="w3-btn w3-xlarge w3-red" type="submit" value="Make Another?">
            </form>
        </div>
        <footer class="w3-container w3-dark-grey w3-text-grey" style="position:absolute; right:0; bottom:0; left:0; text-align:center">
            <p>Created for HackCWRU 2016!</p>
        </footer>
    </body>
</html>

